*{
    margin: 0;
    padding: 0;
}

header img{
    
max-height: 100vh;
width: 100%;
}

header h1{
    color: aliceblue;
    position: absolute;
    top: 25px;
    left: 26px;
}

.photo_special_left_img{
   
    position: relative;
    top: 70px;
} 
.photo_special_content{
    display: flex;
    
}
.text_wrapper_special_phtography{

    display: flex;
    font-size: 36px; 
    width: 405px;
    height: 90px;
    display: flex;
    position: relative;
    top: 70px;
    left: 80px;
}
.text_wrapper_Always_taing{
   
    display: flex;
    width: 405px;
    height: 100px;
    font-size: 14px;
    position: relative;
    top:90px;
    left: 80px;
}
.about_us{
   
    font-size: 16px;
    width: 300px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    right: 284px;
    color: black;
}   
.photo_special_right_img{
    position: relative;
    top: 626px;
    display: flex;
    
}
.project_content{
    background-color: black;
    width: 100%;
    height: 750px;
    position: relative;
    top: 400px;
}
.about_special{
    padding-left: 30px;
}





    
  
