*{
    margin: 0;
    padding: 0;
}

header img{
    
max-height: 100vh;
width: 100%;
}

header h1{
    color: aliceblue;
    position: absolute;
    top: 25px;
    left: 26px;
}

.photo_special_left_img{
   
    position: relative;
    top: 70px;
} 
.photo_special_content{
    display: flex;
    
}
.text_wrapper_special_phtography{
    display: flex;
    font-size: 36px; 
    width: 405px;
    height: 90px;
    display: flex;
    position: relative;
    top: 70px;
    left: 80px;
}
.text_wrapper_Always_taing{
   
    display: flex;
    width: 405px;
    height: 100px;
    font-size: 14px;
    position: relative;
    top:90px;
    left: 80px;
}
.about_us{ 
    font-size: 16px;
    width: 300px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    right: 284px;
    color: black;
}   
.photo_special_right_img{
    position: relative;
    top: 626px;
    display: flex;    
}
.project_content{
    background-color: black;
    width: 100%;
    height: 750px;
    position: relative;
    top: 400px;
}

.about_special{
    padding-left: 30px;
}

.project_title_background{
    background-color: black;
    height: 750px; 
    margin-top: 385px;   
    display: flex;
    flex-direction: row-reverse;

}

.project_title_photo{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    justify-content: center;
    align-items: center;
    
}

.project_title_photo img{
    margin-top: 80px;
}

.project_content_free{
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   padding-top: 80px;
}

.project_content_free div{
   width: 100%;
   color: aliceblue;
}

.project_content_top{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 80px; 
    bottom: 22~px;  
}

.project_content_title{
    height:64%;
    width: 100%;   
}
.project_content_project{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 80px;
    top: 110px;
    font-size: 16px;
}

.project_content_title_h2{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 80px;
    top: 135px;
    font-size: 36px;
}

.project_content_title_lorem_ipsum{
    width: 405px;
    height: 120px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    left: 276px;
    top: 165px;
    font-size: 14px;
    text-align: right;
}

.project_content_title_viev{
    width: 100%;
    height:20px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 80px;
    top: 185px;
    font-size: 16px;
}

.project_text{
    position: relative;
    right: 30px;    
}

.project_background_photo{
    width: 100%;
    max-height:100vh;
}

.content_inside{
    width: 405px;
    height: 550px;
    position: relative;
    bottom: 630px;
    left: 90px;
    color: aliceblue;
}

.content_nomber_fre{
    width: 405px;
    height: 19px;
}

.project_content_header{
    width: 405px;
    height: 19px;
    position: relative;
    top: 19px;
    font-size: 16px;
}

.project_wrapper{
    max-height: 100vh; 
}

.project_header_two{
    width: 405px;
    height: 37px;
    position: relative;
    top: 62px;
    font-size:36px ;
}

.project_ipsum{
    width: 405px;
    height: 117px;
    position: relative;
    top:100px;
    font-size: 14px;
}

.project_link{
    width: 405px;
    height: 27px;
    position: relative;
    top: 130px;
    font-size: 16px;
    display: flex;
   
}
.project_svg_arrow{
    position: relative;
    left: 16px;
}

.arrow_link{
    position: relative;
    top: 3px;
    
}

.top_content_viev{
    display: flex;
    width: 300px;
    height: 19px;
    font-size: 16px;
    position: relative;
    top: 85px;
    left: 490px;
}

.viev_photo{
    position: relative;
    left: 750px;
    top: 135px;
}

.three_viev{
    width: 50px;
    height: 19px;
    position: relative;
    left: 150px;   
}

.project_header{
    width:405px;
    height: 250px; 
    position: relative;
    left: 200px;
    bottom: 125px;   
}

.header_title{
    width: 405px;
    height: 37px;
    font-size: 36px;
    display: flex;
    justify-content: right;
}

.header_ipsum{
    width: 405px;
    height: 117px;
    position: relative;
    top: 20px;
    font: size 14px;
    text-align: right;
}

.content_arrow{
    width: 405px;
    height: 28px;
    position: relative;
    top: 57px;
    display: flex;
}

.projectt_link{
    width: 88px;
    height: 28px;
    position: relative;
    left: 235px;
    font-size: 16px;

}

.aroww_link{
    width: 50px;
    height: 28px;
    position: relative;
    left: 260px;
}

.project_left_content{
    width: 476px;
    height: 1200px;
    
}

.project_right_content{
   width:686px;
    height: 1200px;
    position: relative;
    left:410px;
}

.wrapper_content{
    display: flex;
}

.four_content{    
    width: 476px;
    height: 19px;
    display: flex;
    justify-content: right;
}

.content_featured{
    width: 476px;
    height: 17px;
    display: flex;
    justify-content: right;
    position: relative;
    top: 41px;
}

.right_photo{
    position: relative;
    top: 68px;
}

.oridnary_content{
    width: 476px;
    height: 43px;
    font-size: 36px;
    position: relative;
    top: 120px;
    display: flex;
    justify-content: right;
}

.content_challenge{
    width: 476px;
    height: 68px;
    position: relative;
    top: 156px;
    font-size:14px;
    display: flex;
    justify-content: right;
    text-align: right;
}

.link_content{
    width: 476px;
    height: 27px;
    position: relative;
    top: 403px;
    display: flex;
}

.viev_rigt{
    font-size: 16px;
    position: relative;
    left: 336px;
    bottom: 150px;
}

.rigt_arrow{
    position: relative;
    left: 363px;
    bottom: 150px;
}

.foter_viev{
    width: 100%;
    height: 100px;
    display: flex;
}

.find_footer{
    width: 140px;
    height: 27px;
    position: relative;
    left: 1000px;
}

.instagram_footer{
    width: 140px;
    height: 27px;
    position: relative;
    left: 1080px;
}

.linkedin_footer{
    width: 140px;
    height: 27px;
    position: relative;
    left: 1120px;
}
